@model IEnumerable<INSERT_PROCEDURE_WEBABI.Models.TABLE_EMPLOYEE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEESURNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEEAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEEMAIL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEESURNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEEAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEEMAIL)
        </td>
       
    </tr>
}

</table>
